/* Universal Styles */

* {
    margin: 0;
    padding: 0;
  } 
  
  html {
    font-family: "Verdana";
    font-size: 16px;
    color: white;
    background-color: black;
    text-align: center;
  }
    
  
  /* Header */
  
  header {
  font-size: 3.125rem;
  }
  

  
  /* link download*/
  
  #link-download {
    color: aquamarine;
  }

  /* Personal Guide section*/
  #personal-guide-section{
    font-size: 2.625rem;
    font-weight: 300;
  }

  /* Excursion Description section*/
  #excursion-description-section{
    color: gray;
    font-size: 1.3125rem;
  }

  #coming-soon-section{
    font-size: 2.625rem;
    font-weight: 300;
  }
  
  
  /* Footer */
  
  footer {
    padding: 20px 0;
  }
  
  footer .content {
    font-weight: bold;
    text-align: right;
    margin-left: 20px;
    color: gray
  }
  